<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="../../assets/images/globe.jpg" class="d-block mx-lg-auto img-fluid rounded-4" width="700"
                height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Welcome Students!</h1>
            <p class="lead">Tired of your history classes? You are about to experience a new way of learning,
                more interactive and fun. Completely
                intuitive. Let's explore together!</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <button type="button" class="btn btn-primary btn-lg px-4 me-md-2" routerLink="globes">Learn more</button>
            </div>
        </div>
    </div>
</div>

<!-- Jumbotron -->

<div class="my-5"
    style="background-image: url('https://images.pexels.com/photos/335393/pexels-photo-335393.jpeg?cs=srgb&dl=pexels-nastyasensei-335393.jpg&fm=jpg'); background-size: cover;">
    <div class="p-5 text-center text-white">
        <div class="container py-5">
            <h1 class="text-white">Together we will create a new era for learning!</h1>
            <p class="col-lg-8 mx-auto lead">
                Are you ready to explore the great events, the extraordinary personalities and the fundamental lessons
                that history has to offer? Join us on this exciting educational journey and discover the fascinating
                tapestry that is history - get ready to unearth the treasures of the past and understand the world in a
                whole new way!
            </p>
        </div>
    </div>
</div>

<!-- Features -->

<div class="container px-4 py-5">
    <h2 class="pb-2 border-bottom">Features</h2>

    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                style="background-image: url('https://st2.depositphotos.com/1026550/7026/i/450/depositphotos_70260873-Planet-earth-from-the-space-at-night.jpg');">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Tap your creativity.</h3>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                style="background-image: url('https://img.jakpost.net/c/2016/08/02/2016_08_02_9267_1470132061._large.jpg');">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Explore as much as you wish.</h3>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                style="background-image: url('https://preply.com/wp-content/uploads/2020/09/Learn-English-Quotes.-20-Inspiring-Quotes-for-English-learners-820x470.jpg');">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                    <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Learn at your own pace and patience.</h3>
                </div>
            </div>
        </div>
    </div>
</div>