<!-- Jumbotron -->

<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="../../assets/images/Timecapsule.svg" alt="" width="72" height="57">
    <h1 class="display-5 fw-bold text-body-emphasis">Available globes</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">In each update we will add more, and new globes. Stay tuned.</p>
    </div>
</div>

<!-- Carrusel Globos -->

<div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1"
            aria-current="true"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 4" class=""></button>

    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../../assets/images/population.jpg" class="bd-placeholder-img" width="100%" height="100%">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Population Globe</h1>
                    <p class="opacity-75">World population virtually represented.
                    </p>
                    <p><a class="btn btn-lg btn-primary" href="population">Learn more</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="../../assets/images/countries.jpg" class="bd-placeholder-img" width="100%" height="100%">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Country Globe</h1>
                    <p>Countries and their political division and some other important data.</p>
                    <p><a class="btn btn-lg btn-primary" href="country">Learn more</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="../../assets/images/heatmap.jpg" class="bd-placeholder-img" width="100%" height="100%">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Heatmap Globe</h1>
                    <p>The most importants zones in the world in realtime.</p>
                    <p><a class="btn btn-lg btn-primary" href="heatmap">Learn more</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="../../assets/images/virus.jpg" class="bd-placeholder-img" width="100%" height="100%">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Ebola Path Globe</h1>
                    <p>The pathway represented by the spread of the Ebola virus.</p>
                    <p><a class="btn btn-lg btn-primary" href="ebola">Learn more</a></p>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


<!-- Jumbotron New Globes -->

<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="../../assets/images/new.svg" alt="" width="72" >
    <h1 class="display-5 fw-bold text-body-emphasis">Want a different globe?</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Let's us know! Write below all your suggestions. We'll check it out!</p>
        <div class="mb-3">
            <label for="newGlobeFormInput1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="newGlobeFormInput1" placeholder="name@example.com">
        </div>
        <div class="mb-3">
            <label for="newGlobeFormTextarea1" class="form-label">Suggestions</label>
            <textarea class="form-control" id="newGlobeFormTextarea1" rows="3"></textarea>
        </div>
        <div class="mb-3">
            <button class="btn btn-dark rounded-pill px-3" type="button">Send</button>
        </div>
    </div>
</div>